<template name="indexH3G">
				<section class="bottom-app">
					<p>Vittalia Internet SL, Av. Nieves 37, 1, esc B 1oB - 28935 Móstoles (Spagna).,  vittalia.it@silverlines.info, telef:390689970531. Servizi in abbonamento: cliccando dichiari di essere maggiorenne e di accettare <a href="tc.html">Termini e Condizioni</a> e <a href="privacy.html">Info Privacy</a>.
					</p>
				</section>
				<img src="../images/default.jpg">
				<section class="bottom-app">
					<p>Cliccando attivi mobibom.net e acetti di rinunciare al diritto di recesso così come prescritto dell’art. 59, lettera o) del Codice Consumo. Servizio in abbonamento riservato ai maggiorenni a 3.5E/sett. I corrispettivi saranno addebitati su questa utenza telefonica. Il nr. di telefono sarà comunicato al fornitore del servizio digitale solo all’acquisto. <a href="tc.html">Termini e Condizioni </a>e <a href="privacy.html">Info Privacy</a>.</p>
				</section>
				{{>yield "action"}}
			<section  class="anulla" ><a href="{{pathFor route='gestione'}}">Annulla</a></section>
</template>