<template name="infoCosti">
	{{>return}}
	<section class="bottom-app">
		<h1>info costi</h1>

		mobibom.net e' un servizio in abbonamento al costo settimanale di 3.5€ Iva inclusa.
		Il servizio permette agli utenti iscritti di accedere ad un portale dedicato ed effettuare il download senza limiti di tutti i contenuti presenti.  Restano esclusi dal costo settimanale dell'abbonamento gli eventuali costi di accesso e di navigazione al sito del Servizio e ad eventuali siti collegati attraverso link esterni presenti nello stesso e regolati da WIND, VODAFONE e TIM secondo il proprio piano tariffario o l'offerta commerciale scelta da ciascun utente. In particolare le informazioni per gli utenti  Vodafone saranno disponibili  sul sito www.vodafone.it mentre  per gli utenti 3 su www.tre.it.
		Il costo dell'abbonamento al Servizio verra' addebitato direttamente sulla bolletta telefonica o decurtato dal credito della carta prepagata, a seconda del contratto stipulato dall'utente con il proprio operatore telefonico.

		Nota bene: Il portale e il servizio mobibom.net sono al momento destinati soltanto ai telefoni cellulari e Tablet Android. B! non garantisce la corretta fruizione del Servizio da altri terminali mobili o da web e, pertanto non sara' responsabile delle richieste di attivazione del Servizio pervenute da altri terminali non compatibili con la fruizione del Servizio. Per fruire del Servizio l'utente dovra' aver configurato il proprio smartphone per l'accesso al mobile internet, richiedendo al proprio operatore telefonico come poter effettuare la configurazione.
		Servizio realizzato da Vittalia internet SL, in collaborazione con TIM, 3, Vodafone e Wind per i rispettivi clienti. Per disattivare il servizio mobibom.net e' possibile visitare l'area Help del portale Mobile it.mobibom.net oppure contattare il servizio clienti di Vittalia internet SL al nuovo numero telef:390689970531
	</section>
</template>